h1 {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #808080;
	background-image: url('images/centennialcollege.png');
	background-repeat: no-repeat;
	height: 85px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	font-size: xx-large;
	font-variant: small-caps;
	padding-left: 220px;
	background-position: 10px -50px;
	padding-top: 15px;
	background-color: #D4DF38;
	opacity: 0.8;
}
#all_page {
	border-radius: 20px;
	box-shadow: 10px 10px 10px #808080;
	padding: 10px;
	border-style: solid;
	border-width: thin;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
footer {
	margin: 10px;
	color: #FFFFFF;
	background-color: #454546;
	text-align: center;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #808080;
	padding: 5px;
}
footer a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #454546;
	background-color: #FFFFFF;
}
#copyright {
	font-size: x-small;
	font-family: consolas;
}
fieldset {
	border-style: none;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 3px 3px #808080;
	background-color: #DEE86C;
}
#reminder {
	font-size: small;
}
legend {
	font-size: large;
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bold;
}
header a {
	text-decoration: none;
	color: #333333;
}
header a:hover {
	text-decoration: none;
	color: #999999;
	opacity: 0.5;
}
#submit_bar {
	margin: 10px;
	text-align: center;
	background-color: #D4DF38;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #808080;
	padding: 3px;
}
body {
	background-image: url('images/background-image-2.gif');
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #333333;
}
header {
	margin: 10px;
}
